div(class="notificationMessage")
    div(class="notificationMessage-wrapper")
        picture
            img(class="notification-avatarImg" src="" alt="")
        div  
            span(class="notification-username")
            span(class="notification-Description")
            span(class="notification-postCommented")
            span(class="notification-isNew")
            span(class="notification-postDated")
            img(class="notification-imgCommented")
        div(class="notification-privateMessage")
    div()