main 
    section 
        div 
            div 
                Notifications
                span(id="notificationsQuantity")
            
            button(id="cleanNotifications")
                Mark all as read
        